@{
    ViewData["Title"] = "Cliente";
}

<h2>Cliente</h2>

@(Html.DevExtreme().DataGrid<AgenciadeViajesDevExtremeMvC.Models.Cliente>()
    .DataSource(ds => ds.WebApi()
        .Controller("Cliente")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {



        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.Nombre);

        columns.AddFor(m => m.Apellido);
        columns.AddFor(m => m.Ciudad);

        columns.AddFor(m => m.Telefono);

        columns.AddFor(m => m.Correo);
    })
       .Editing(e => e
       .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
    .Paging(p => p.PageSize(10))
.Pager(p => p.ShowPageSizeSelector(true).AllowedPageSizes(new[] { 5, 10, 20 }))
.FilterRow(f => f.Visible(true))
.SearchPanel(s => s.Visible(true).Width(240))
)
