@{
    ViewData["Title"] = "GuiaTuristico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gesti&oacute;n de Gu&#237;a Tur&#237;stico</h2>

@(Html.DevExtreme().DataGrid<AgenciadeViajesDevExtremeMvC.Models.GuiaTuristico>()
    .DataSource(ds => ds.WebApi()
        .Controller("GuiaTuristico")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {


        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.Nombre);

        columns.AddFor(m => m.Apellido);

        columns.AddFor(m => m.Telefono);

        columns.AddFor(m => m.Correo);

        columns.AddFor(m => m.ZonaEspecializada);

        columns.AddFor(m => m.Idiomas);

        columns.AddFor(m => m.FechaContratacion);

        columns.AddFor(m => m.HoraLlegada);

        columns.AddFor(m => m.HoraSalida);

        columns.AddFor(m => m.Salario);
        columns.AddFor(m => m.SalarioPorHora);

    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
        .Paging(p => p.PageSize(10))
.Pager(p => p.ShowPageSizeSelector(true).AllowedPageSizes(new[] { 5, 10, 20 }))
.FilterRow(f => f.Visible(true))
.SearchPanel(s => s.Visible(true).Width(240))
)


