@{
    ViewData["Title"] = "Reserva";
}

<h2>Reserva</h2>

@(Html.DevExtreme().DataGrid<AgenciadeViajesDevExtremeMvC.Models.Reservacion>()
    .DataSource(ds => ds.WebApi()
        .Controller("Reservacion")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.IdCotizacion).Lookup(lookup => lookup
    .DataSource(ds => ds.WebApi().Controller("Cotizacion").LoadAction("Get").Key("Id"))
    .ValueExpr("Id")
    .DisplayExpr("ClienteId")
);

        columns.AddFor(m => m.FechaReservacion);

        columns.AddFor(m => m.Estado);

        columns.AddFor(m => m.FechaViaje);

        columns.AddFor(m => m.FechaRegreso);

        columns.AddFor(m => m.MontoPagado);

        columns.AddFor(m => m.Saldopendiente);
    })
       .Editing(e => e
       .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
    .Paging(p => p.PageSize(10))
.Pager(p => p.ShowPageSizeSelector(true).AllowedPageSizes(new[] { 5, 10, 20 }))
.FilterRow(f => f.Visible(true))
.SearchPanel(s => s.Visible(true).Width(240))
)

